#video-background {
    /*  making the video fullscreen  */
      right: 0; 
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
      width: auto; 
      height: auto;
      clip: rect(0px,60px,200px,0px);      
      z-index: -100;
 }
 .contenidoVideo {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center; 
     flex-direction: column;
     color: white;
    width: 30%;
    position: absolute;
    top: 217px;
    left: 30%;
    background-color: rgba(0, 0, 0, 0.5);

}

 .contenido {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 80%;
    background-color: white;
}