/*navegcion*/
/*#carouselExampleControls{
	height: 500px;
	overflow: hidden;
}*/

/*iniciar sesion*/
.cajaIniciarSesion{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 110;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.detallesIniciar{
	width: 25%;
	background-color: rgba(255,255,255,1);
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
}

#iniciarSesion1 button{
	margin: 10px;
}

#iniciarSesion1 input{
	margin: 5px;
	border-radius: 2px;
}

/*-----------*/

.cajaNoEsUsuario{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 120;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.detallesNoEsUsuario{
	width: 25%;
	background-color: rgba(255,255,255,1);
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
}

#noEsUsuario1 button{
	margin: 10px;
}

#noEsUsuario1 input{
	margin: 5px;
	border-radius: 2px;
}

/*registro*/
.cajaRegistro{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 115;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.detallesRegistro{
	width: 25%;
	background-color: rgba(255,255,255,1);
	border-radius: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
}

#registro2 button{
	margin: 10px;
}

#registro2 input{
	margin: 5px;
	border-radius: 2px;
}


/*.carousel-item img{
	object-position: 0 -130px;
	width: 100%;
	height: auto;
}*/

/*.texto-carrusel{
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 20%;
    right: 0%;
    left: 25%;
    width: 50%;
    padding: 0 30px 30px 30px;
    border-radius: 15px;
}*/

/*.texto-carrusel span{
	color: gray;	
	font-size: 50px;
	text-align: center;
}*/

/*.texto-carrusel img{
	width: 95%;
}*/

.texto-carrusel button{
	margin: 0 5px;
}

.botones{
	display: flex;
	flex-direction: row;
}

/*main*/
	/*filtros*/

.contenido-filtros{
	display: flex;
	justify-content: center;
	border-bottom: 1px solid gray;
	flex-wrap: wrap;

}

.contenido-filtros button{
	margin: 12px 10px;
	display: flex;
}

.more{
	border: none;
}

.icono-filtro{
	margin-right: 3px;
}

	/*submenu*/
.submenu{
	background-color: #8080809c;
	
}

.submenuOtros{
	background-color: #3400ffbf;
	
}

.contenidoSubMenu span{
	color: white;
	display: flex;
	justify-content: center;
	font-size: 30px;	
}

.botonesSubMenu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.botonesSubMenu button{
	margin: 12px 10px;
	display: flex;
	color: #8080809c;

}

	/*cursos*/
.cursos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

		/*tarjetas*/
.card{
	border-radius: 6px;
	width: 250px;
	border: 0px solid;
	display: inline-flex;
	flex-wrap: nowrap;
	margin: 35px 0;
}

.card-body{
	padding: 5px;
}

.card-title{
	margin: 0;
}

.card-text{
	margin: 0;
}

.descripcion2{
	font-size: 20px;
}

.calificacion{
	display: flex;
	flex-direction: row;
}

.icono-estrella{
	font-size: 12px;
	width:7px;
	color: #008489;
}

.numero-estrellas{
	margin-left: 8px;
	font-size: 15px;
}

.estrella-blanca{
	color: rgba(0, 0, 0, 0.3);
}

a{
	text-decoration: none;
	color: black;
}

		/*detalle de cursos*/

.cajaDetalles{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}
.detallesCursos{
	width: 30%;
	background-color: rgba(255,255,255,0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
}

.detallesCursos h2{
/*	color: white;*/
	font-size: 40px;
	font-family: raleway;
	margin: 10px;
}

.detallesCursos span{
	/*color: white;*/
	font-size: 20px;
	font-family: raleway;
	margin: 10px;
}

.detallesCursos button{
	width: 300px;
	height: 50px;
	border-radius: 10px;
	font-size: 25px;
	font-family: raleway;
}

.detallesCursos li{
	/*color: white;*/
	font-size: 15px;
	font-family: raleway;
	margin: 10px;
	text-align: left;

}

.horasYclases{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.horasYclases span{
	margin: 10px 25px;
	display: flex;
	align-items: center;
}

.videoYoutube{
	width: 80%;
}